<!-- <footer class="container-fluid text-center " style="background-color: #ECB390;">
    <p class=" fs-6">&copy; <script>
            document.write(new Date().getFullYear());
        </script> Munro Alvin | All rights reserved</p>

</footer> -->

<footer class="container-fluid">
    <div class="footer-content">
        <h3>Munro Alvin</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque tempora rerum quibusdam unde vitae architecto voluptatum laudantium atque culpa assumenda. Aliquam cum rem ducimus neque sint modi excepturi porro ipsa.</p>
        <ul class="socials">
            <li>
                <a href="#"><i class="fa fa-facebook"></i></a>
            </li>

            <li>
                <a href="#"><i class="fa fa-twitter"></i></a>
            </li>

            <li>
                <a href="#"><i class="fa fa-google-plus"></i></a>
            </li>

            <li>
                <a href="#"><i class="fa fa-youtube"></i></a>
            </li>

            <li>
                <a href="#"><i class="fa fa-linkedin-square"></i></a>
            </li>
        </ul>
    </div>
    <div class="footer-bottom container-fluid position-absolute bottom-0 start-50 translate-middle-x">
        <p> Copyright &copy;<script>
            document.write(new Date().getFullYear());
        </script> Munro Alvin designed by <span>Munro</span></p>
    </div>
</footer>





<!-- init bootstrap js  -->
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
     integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous">
 </script>



 </body>

 </html>