<%- include("partials/header") -%>

<div class="composeContainer">

    <h1 class="mt-5">Compose</h1>

    <form action="/compose" method="post">
        <div class="ms-auto container-md col">
            <label for="exampleFormControlInput1" class="form-label">Title</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" name="postTitle">
        </div>
        <div class="ms-auto container-md col">
            <label for="exampleFormControlTextarea1" class="form-label">Post</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="postBody"></textarea>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">

                <button class="mt-3 btn btn-success  justify-content-md-end" type="submit"
                    name="publishButton">Publish</button>
            </div>

        </div>

    </form>

</div>


<%- include("partials/footer") -%>