</body>

<footer class="fixed-bottom" style="background-color: #ECB390;">
    <div class="container text-center" >
        <p id="footerText">© 2022 Munro Alvin | All rights reserved</p>
    </div> 
</footer>

</html>