<%- include("partials/header") -%>




<main>
    <article>
        <h1 class="mt-5 border-bottom border-secondary border-2"> <%=postTitle  %></h1>
        <p class="lead"><%= postContent %> </p>
    </article>
</main>



<%- include("partials/footer") -%>