@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: black;
    
    
}
/* padding-bottom value depends on the px of footer */
body{
    position: relative;
    padding-bottom: 68px;
    min-height: 100vh;
}

#footerText{
    padding: 3% 5%;
    
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}


.composeContainer{
    padding-left: 30px;
}

.composeTitle{
    padding-top: 30px;
    
}

